.product{
    padding: 10px;
    margin: 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border:1px solid green;
    display:flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
    transition: height 0.5s;
}
.product:hover{
    border:1px solid lightblue;
    transition: height 0.5s;
    cursor: pointer;
}